# Visual Studio 관련
.vs/
*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln

# 빌드 결과물
x64/
Debug/
Release/
build/
bin/
obj/

# 기타
*.log
*.tlog/
*.lastbuildstate
*.pch
*.idb
*.pdb
*.ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# OS 관련
Thumbs.db
.DS_Store

# 기타 환경설정, 캐시 등
*.VC.db
*.VC.VC.opendb
